.vscode/**
.vscode-test/**
node_modules/**
dist/**
ref/**
test/**
.npm-cache*/**
.vendor-vscode-pdf*/**
vscode-pdfviewer-main/**
assets/pdf.js/**
assets/main.mjs
assets/main.css
src/**
webview/**
scripts/**
.gitignore
.yarnrc
note.md
image/snapshot.png
vsc-extension-quickstart.md
tsconfig*.json
**/eslint.config.mjs
**/*.map
**/*.ts
*.vsix
**/.vscode-test.*
