.vscode/**
.agents/**
.codex/**
.vscode-test/**
node_modules/**
dist/**
ref/**
test/**
src/**
.gitignore
note.md
image/snapshot.png
assets/pdfviewer/lib/web/debugger.js
assets/pdfviewer/lib/web/debugger.css
tsconfig*.json
**/eslint.config.mjs
**/*.map
**/*.ts
*.vsix
**/.vscode-test.*
